<div class="over">
    <!-- HEADER OVERVIEW -->
    <div class="row gy-3 gy-md-4 gy-lg-0">
        <nav class="navbar justify-content-between">
            <h3 class="font-weight-bold administrator">Welcome back, Nasam</h3>

            <!-- Dropdown -->
            <div class="form-inline">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="default ">
                    Export
                    <i class="pi pi-download " style="font-size: 10px; padding-left: 6px;"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item>CSV</li>
                        <li nz-menu-item>PDF</li>
                    </ul>
                </nz-dropdown-menu>

                <!-- Calendar -->
                <p-calendar inputId="basic" [(ngModel)]="date1">
                </p-calendar>
            </div>
        </nav>
    </div>

    <!-- USERS CARD-->
    <div class="row" style="padding: 10px;">
        <div class="bg-white first-card">
            <div class="row">
                <div class="col-12 col-md-4 p-3">
                    <div class="d-flex">
                        <div class="wrapper">
                            <h5 class="mb-2 font-weight-bold">Total Objects</h5>
                            <p class="mb-2 text-muted"><img src="assets/images/overview/Icon Button.png">+2.4%</p>
                            <h3 class="p-2 font-weight-bold">2000</h3>
                        </div>
                        <div class="wrapper my-auto ml-auto ml-lg-4">
                            <img src="assets/images/overview/Mini Graph.png" class="me-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 border-start border-end">
                    <div class="d-flex">
                        <div class="wrapper">
                            <h5 class="mb-2 font-weight-bold">Total Drivers</h5>
                            <p class="mb-2 text-muted"><img src="assets/images/overview/Icon Button.png">+2.4%</p>
                            <h3 class="p-2 font-weight-bold">700</h3>
                        </div>
                        <div class="wrapper my-auto ml-auto ml-lg-4">
                            <img src="assets/images/overview/Mini Graph2.png" class="me-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3">
                    <div class="d-flex">
                        <div class="wrapper">
                            <h5 class="mb-2 font-weight-bold">Total Drivers</h5>
                            <p class="mb-2 text-muted"><img src="assets/images/overview/Icon Button.png">+2.4%</p>
                            <h3 class="p-2 font-weight-bold">700</h3>
                        </div>
                        <div class="wrapper my-auto ml-auto ml-lg-4">
                            <img src="assets/images/overview/Mini Graph2.png" class="me-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION  -->
    <div class="row gy-4">
        <!-- SOS Alerts -->
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="p-3 second-card">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h6 class="mb-2 font-weight-bold">SOS Alerts</h6>
                        <h5 class="mb-2 font-weight-bold text-purple">170 <span class="f-right m-2 text-green">+8%</span></h5>
                    </div>
                    <div class="wrapper my-auto ml-auto ml-lg-4">
                        <img src="/assets/images/overview/Alert.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Speed Alerts -->
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="p-3 second-card">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h6 class="mb-2 font-weight-bold">Speed Alerts
                        </h6>
                        <h5 class="mb-2 font-weight-bold text-purple">52<span class="f-right m-2 text-red">-14%</span>
                        </h5>
                    </div>
                    <div class="wrapper my-auto ml-auto ml-lg-4">
                        <img src="/assets/images/overview/speed.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Power Cut Alerts -->
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="p-3 second-card">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h6 class="mb-2 font-weight-bold">Power Cut Alerts
                        </h6>
                        <h5 class="mb-2 font-weight-bold text-purple">2,300 <span class="f-right m-2 text-green">+5%</span></h5>
                    </div>
                    <div class="wrapper my-auto ml-auto ml-lg-4">
                        <img src="/assets/images/overview/Icon.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Geofence Alerts -->
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="p-3 second-card">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h6 class="mb-2 font-weight-bold">Geofence Alerts
                        </h6>
                        <h5 class="mb-2 font-weight-bold text-purple">170<span class="f-right m-2 text-green">+44%</span>
                        </h5>
                    </div>
                    <div class="wrapper my-auto ml-auto ml-lg-4">
                        <img src="/assets/images/overview/Icon2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tracking Overview -->
    <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-md-8">
            <div class="p-4 overview">
                <h5 class="card-title mb-2 font-weight-bold text-muted">Tracking Overview</h5>
                <div class="d-flex flex-column flex-lg-row mb-2">
                    <div class="data-wrapper d-flex mt-2 mt-lg-0">
                        <div class="wrapper pr-5">
                            <p class="mb-2 text-muted">Number of Assets</p>
                            <div class="d-flex align-items-center">
                                <h3 class="font-weight-bold mb-0">4000</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-5 col-md-12 d-flex pl-4">
                    <div class="ml-auto">
                        <img src="/assets/images/overview/Mini chart.png" alt=""> </div>
                </div> -->
                <div class="wrapper border-bottom mb-2 pb-2" style="width: 250px;"></div>
                <div class="wrapper mb-2">
                    <div class="d-flex w-100 pt-2 mt-4">
                        <img src="/assets/images/overview/Dot.svg">
                        <p class="mb-0 font-weight-semibold pl-4">Online</p>
                        <div class="wrapper ml-12 d-flex align-items-left">
                            <span class="ml-1 mb-0">30%</span>
                        </div>
                    </div>
                    <div class="d-flex w-100 pt-2">
                        <img src="/assets/images/overview/gps.svg">
                        <p class="mb-0 font-weight-semibold pl-4">GPS not updated</p>
                        <div class="wrapper ml-12 d-flex align-items-center">
                            <p class="ml-1 mb-0">30%</p>
                        </div>
                    </div>
                    <div class="d-flex w-100 pt-2">
                        <div class="dot-indicator bg-danger mr-2"></div>
                        <img src="/assets/images/overview/offline.svg">
                        <p class="mb-0 font-weight-semibold pl-4">Offline</p>
                        <div class="wrapper ml-12 d-flex align-items-center">
                            <p class="ml-1 mb-0">30%</p>
                        </div>
                    </div>
                    <div class="d-flex w-100 pt-2">
                        <img src="/assets/images/overview/other.svg">
                        <p class="mb-0 font-weight-semibold pl-4">Other</p>
                        <div class="wrapper ml-12 d-flex align-items-center">
                            <p class="ml-1 mb-0">30%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fleet Locations -->
        <div class="col-12 col-md-4">
            <div class="bg-white p-4 earning">
                <h5 class="card-title mb-2">Fleet Location</h5>
                <div class="my-auto mx-auto">
                    <img src="/assets/images/overview/Location.png">
                </div>
            </div>
        </div>
    </div>

    <!-- Table Recent Trips -->
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white trips">
                <div class="d-flex justify-content-between pt-3 pb-3">
                    <h4 class="card-title card-title font-weight-bold text-muted">Recent Trips</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-stretched">
                        <thead>
                            <tr>
                                <th>Driver</th>
                                <th>Location</th>
                                <th>Mileage</th>
                                <th>Distance Traveled</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tr>
                            <div class="d-flex align-items-center">
                                <div class="img-container">
                                    <img class="img-sm rounded-circle" src="/assets/images/overview/Base1.png" alt="profile image">
                                </div>
                                <div class="ps-3">
                                    <div class="fw-600 pb-1 text-blue">Nasam Driver 01</div>
                                    <p class="m-0 text-muted font-weight-bold fs-09">Vehicle 01</p>
                                </div>
                            </div>
                            <td>
                                <p class="font-weight-bold text-muted">6113 Fernanda Flats, New Concetta, NC 97888</p>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center active">
                                    <div class="font-weight-bold text-muted">150 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center active">
                                    <div class="font-weight-bold text-muted">200 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <span class="badge completed">Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <div class="d-flex align-items-center">
                                <div class="img-container">
                                    <img class="img-sm rounded-circle" src="/assets/images/overview/Base2.png" alt="profile image">
                                </div>
                                <div class="ps-3">
                                    <div class="fw-600 pb-1 text-blue">Nasam Driver 02</div>
                                    <p class="m-0 text-muted font-weight-bold fs-09">Vehicle 02</p>
                                </div>
                            </div>
                            <td>
                                <p class="font-weight-bold text-muted">6113 Fernanda Flats, New Concetta, NC 97888</p>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center active">
                                    <div class="font-weight-bold text-muted">70 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center active">
                                    <div class="font-weight-bold text-muted">100 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center active">
                                    <span class="badge inprogress">Inprogress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <div class="d-flex align-items-center">
                                <div class="img-container">
                                    <img class="img-sm rounded-circle" src="/assets/images/overview/Base3.png" alt="profile image">
                                </div>
                                <div class="ps-3">
                                    <div class="fw-600 pb-1 text-blue">Nasam Driver 03</div>
                                    <p class="m-0 text-muted font-weight-bold fs-09">Vehicle 03</p>
                                </div>
                            </div>
                            <td>
                                <p class="font-weight-bold text-muted">6113 Fernanda Flats, New Concetta, NC 97888</p>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">0 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">0 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <span class="badge failed">Canceled</span>
                                </div>
                        </tr>
                        <tr>
                            <div class="d-flex align-items-center">
                                <div class="img-container">
                                    <img class="img-sm rounded-circle" src="/assets/images/overview/Base4.png" alt="profile image">
                                </div>
                                <div class="ps-3">
                                    <div class="fw-600 pb-1 text-blue">Nasam Driver 04</div>
                                    <p class="m-0 text-muted font-weight-bold fs-09">Vehicle 04</p>
                                </div>
                            </div>
                            <td>
                                <p class="font-weight-bold text-muted">6113 Fernanda Flats, New Concetta, NC 97888</p>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">40 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">50 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <span class="badge inprogress">Inprogress</span>
                                </div>
                        </tr>
                        <tr>
                            <div class="d-flex align-items-center">
                                <div class="img-container">
                                    <img class="img-sm rounded-circle" src="/assets/images/overview/Base5.png" alt="profile image">
                                </div>
                                <div class="ps-3">
                                    <div class="fw-600 pb-1 text-blue">Nasam Driver 05</div>
                                    <p class="m-0 text-muted font-weight-bold fs-09">Vehicle 05</p>
                                </div>
                            </div>
                            <td>
                                <p class="font-weight-bold text-muted">6113 Fernanda Flats, New Concetta, NC 97888</p>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">10 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <div class="font-weight-bold text-muted">10 km</div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <span class="badge completed">Completed</span>
                                </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Charts -->
    <div class="row gy-3 gy-md-4 gy-lg-0">
        <!-- Chart-1 -->
        <div class="col-12 col-lg-6">
            <div class="bg-white p-3 m-0 charts">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
        <!-- Chart-2 -->
        <div class="col-12 col-lg-6">
            <div class="bg-white p-3 m-0 charts">
                <p-chart type="bar" [data]="data2" [options]="options"></p-chart>
            </div>
        </div>
    </div>
</div>