<!-- Header -->
<div class="row g-3 title-top border-b bg-white">
    <div class="col">
        <h6 style="margin-bottom: unset">Drivers</h6>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="ButtonSet">
            <button nz-button nzType="default">
                <div style="text-align: center; color: #42526E; font-size: 14px; font-weight: 500; line-height: 20px; word-wrap: break-word">
                    <i class="pi pi-calendar-minus" style="font-size: 13px; padding-right: 8px;"></i>10 Sep 2023- 11 Oct 2023</div>
            </button>
            <button nz-button nzType="default"><i class="pi pi-print" style="font-size: 13px; padding-right: 8px;"></i>
                Print</button>
            <button nz-button nzType="default"><i class="pi pi-save" style="font-size: 13px; padding-right: 8px;"></i>
                Save</button>
            <button nz-button nzType="primary" (click)="open()">Add new driver</button>
        </div>
    </div>
</div>

<!-- Header Button -->
<div class="title-top border-b bg-white">
    <div class="Toolbar">
        <nz-input-group [nzSuffix]=" suffixIconSearch" style="width: 200px;">
            <input type="text" nz-input placeholder="Search..." />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>

        <div class="Right">
            <button nz-button nzType="default">
                Filter
            <i class="pi pi-chevron-down" style="font-size: 10px; padding-left: 6px;"></i>
            </button>
            <button nz-button nzType="default">
               <i class="pi pi-sliders-h" style="font-size: 13px;"></i>
        </button>
        </div>
    </div>
</div>

<div class="container-fluid p-2">
    <div class=" row gy-3">
        <!-- Table -->
        <div class="col-12">
            <div class="bg-white p-3 m-0 rounded">
                <div class="table-responsive">
                    <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
                        <thead>
                            <tr>
                                <th [nzChecked]="checked"></th>
                                <th nzColor="processing">Driver ID</th>
                                <th>Driver name</th>
                                <th>ID Card</th>
                                <th>Phone Number</th>
                                <th>Parent</th>
                                <th>Address</th>
                                <th>License expire</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                                <td [nzChecked]="checked"></td>
                                <td style="color: #1D4ED8;">{{ data.driver }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.card }}</td>
                                <td>{{ data.phone }}</td>
                                <td>{{ data.Parent }}</td>
                                <td>{{ data.address }}</td>
                                <td>{{ data.license }}</td>
                                <td>{{ data.notes }}</td>
                            </tr>
                        </tbody>
                    </nz-table>

                    <!-- <p-table [value]="listOfData">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [nzChecked]="checked"></th>
                                <th nzColor="processing">Driver ID</th>
                                <th>Driver name</th>
                                <th>ID Card</th>
                                <th>Phone Number</th>
                                <th>Parent</th>
                                <th>Address</th>
                                <th>License expire</th>
                                <th>Notes</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td [nzChecked]="checked"></td>
                                <td style="color: #1D4ED8;">{{ data.driver }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.card }}</td>
                                <td>{{ data.phone }}</td>
                                <td>{{ data.Parent }}</td>
                                <td>{{ data.address }}</td>
                                <td>{{ data.license }}</td>
                                <td>{{ data.notes }}</td>
                            </tr>
                        </ng-template>
                    </p-table> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Button -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="630" [nzVisible]="visible" nzTitle="New Driver" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <form nz-form *nzDrawerContent>
        <div class="new">
            <div class="MultiInput">
                <!-- Name -->
                <div class="Input">
                    <div class="FieldLabel">Name</div>
                    <input nz-input placeholder="Name" type="text" />
                </div>

                <!-- License plate -->
                <div class="Input">
                    <div class="FieldLabel">License plate</div>
                    <input nz-input placeholder="512 S G J" type="text" />
                </div>
            </div>

            <div class="MultiInput">
                <!-- Phone number 1 -->
                <div class="Input">
                    <div class="FieldLabel">Phone number 1</div>
                    <input nz-input placeholder="01231251511515" type="text" />
                </div>

                <!-- Phone number 2 -->
                <div class="Input">
                    <div class="FieldLabel">Phone number 2</div>
                    <input nz-input placeholder="01231251511515" type="text" />
                </div>
            </div>

            <div class="MultiInput">
                <!-- Address 1 -->
                <div class="Input">
                    <div class="FieldLabel">Address 1</div>
                    <input nz-input placeholder="Demo" type="text" />
                </div>

                <!-- Address 2 -->
                <div class="Input">
                    <div class="FieldLabel">Address 2</div>
                    <input nz-input placeholder="Subtype" type="text" />
                </div>
            </div>

            <div class="MultiInput">
                <!-- License expiry date -->
                <div class="Input">
                    <div class="FieldLabel">License expiry date</div>
                    <nz-select [ngModel]="'Model'" style="width: 100%;">
                        <nz-option [nzLabel]="'Model'" [nzValue]="'Model'"></nz-option>
                    </nz-select>
                </div>

                <!-- Parent -->
                <div class="Input">
                    <div class="FieldLabel">Parent</div>
                    <nz-select [ngModel]="'Demo'" style="width: 100%;">
                        <nz-option [nzLabel]="'Demo'" [nzValue]="'Demo'"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div class="MultiInput">
                <!-- Notes -->
                <div class="Input">
                    <div class="FieldLabel">Notes</div>
                    <nz-select [ngModel]="'Additional info'" style="width: 100%;">
                        <nz-option [nzLabel]="'Additional info'" [nzValue]="'Additional info'"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
    </form>

    <!-- Buttons -->
    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
            <button nz-button nzType="primary" (click)="close()">Save</button>
        </div>
    </ng-template>
</nz-drawer>