<!-- <div class="row gy-3" style="padding: 24px;">
    <div class="col-12 col-lg-3">
        <div class="bg-white p-3 m-0 object">
        </div>
    </div>
</div> -->


<!-- <div class="row gy-3 gy-md-4 gy-lg-0" style="padding: 24px;">
    <div class="col-12 col-lg-4">
        <div class="bg-white p-3 m-0">
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="bg-white p-3 m-0">
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="bg-white p-3 m-0">
        </div>
    </div>
</div> -->

<!-- <div class="menu">
    <input id="menu--toggle" type="checkbox" />
    <label class="menu--toggle__trigger" for="menu--toggle">    
            </label>
    <label class="menu--toggle__burger" for="menu--toggle">
            </label>

    <ul class="menu__body">
        <li class="menu__body-element">
            <a class="menu__body-link" target="_blank">
              Works
            </a>
        </li>

        <li class="menu__body-element">
            <a class="menu__body-link" target="_blank">
              Twitter
            </a>
        </li>

        <li class="menu__body-element">
            <a class="menu__body-link">
              Mail
            </a>
        </li>
    </ul>
</div> -->