.popup {
    width: 365px;
    height: 640px;
    border-radius: 16px;
}


/***************************
 *  Variables
 **************************/

$font-family: 'Open Sans',
sans-serif;
$font-size: 1em;
$color-body: #e2e2e2;
$color-text: #282828;
$color-menu: #FFF;
$variable-menu-animation-time: 1s;
$variable-burger-animation-time: .35s;
$variable-menu-animation-function: cubic-bezier(.25, .1, .25, 1);
$variable-burger-animation-function: cubic-bezier(.68, -.55, .265, 1.55);

/***************************
   *  Project Main Styles
   **************************/

// *,
// *:before,
// *:after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }
// body {
//     font-family: $font-family;
//     font-size: $font-size;
//     background-color: $color-body;
// }

/***************************
   *  Application Main Styles
   **************************/

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
    display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
    position: absolute;
    top: 1.6em;
    left: 1.6em;
    width: 2em;
    height: 5px;
    background-color: $color-text;
    border-radius: 2px;
    cursor: pointer;
    z-index: 100;
    transition: $variable-burger-animation-time $variable-menu-animation-function;
}

.menu--toggle__trigger {
    height: 2em;
    background: none;
}

// .menu--toggle__burger {
//     &:before {
//         // content: "";
//         // top: 10px;
//         // left: 0;
//     }
//     &:after {
//         // content: "";
//         // top: 20px;
//         // left: 0;
//     }
// }
.menu__body {
    position: absolute;
    width: 116px;
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: $color-menu;
    border-radius: 16px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
    z-index: 10;
    animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
}

.menu__body-element,
.menu__body-link {
    display: none;
    margin: 4.4em 0 -3.3em -.1em;
    font-weight: normal;
    color: $color-text;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
}

.menu__body-element {
    text-indent: 2em;
}

.menu__body-link:hover {
    display: block;
    width: 0;
    color: $color-text;
    background-color: $color-body;
    animation: changeWidthOfElementAnimation $variable-burger-animation-time both;
}

#menu--toggle:checked+.menu--toggle__trigger {
    &+.menu--toggle__burger {
        top: 35px;
        transform: rotate(405deg);
        transition: transform $variable-burger-animation-time $variable-burger-animation-function;
        &:before {
            top: 0;
            transform: rotate(-90deg);
            transition: transform $variable-burger-animation-time $variable-burger-animation-function;
        }
        &:after {
            top: 0;
            transform: rotate(90deg);
            transition: transform $variable-burger-animation-time $variable-burger-animation-function;
        }
    }
    &+.menu--toggle__burger+.menu__body {
        animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;
    }
    &~.menu__body .menu__body-element,
    &~.menu__body .menu__body-link {
        display: block;
    }
}

// .promotion {
//     width: 100vw;
//     height: 100vh;
//     background-size: cover;
// }

/**
   *  Animations
   *
   *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */

@keyframes checkboxCheckedAnimation {
    50% {
        width: 368px;
        height: 640px;
    }
    100% {
        width: 368px;
        height: 640px;
        border-radius: 16px;
    }
}

@keyframes checkboxUncheckedAnimation {
    0% {
        width: 368px;
        height: 640px;
    }
}

@keyframes changeWidthOfElementAnimation {
    50% {
        width: 0;
    }
    100% {
        width: 0;
    }
}


/* card.component.css */

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-btn i {
    color: #666;
    /* Adjust color as needed */
    font-size: 20px;
    /* Adjust size as needed */
}

.close-btn:hover i {
    color: red;
    /* Adjust hover color as needed */
}

.action-btn {
    background-color: #007bff;
    /* Adjust background color as needed */
    color: #fff;
    /* Adjust text color as needed */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #0056b3;
    /* Adjust hover background color as needed */
}

.object {
    // width: 368px;
    height: 640px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}